<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="insert" parameterType="Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
         tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{consignee},
                #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' ">
                cancel_reason=#{cancelReason},
            </if>
            <if test="rejectionReason != null and rejectionReason!='' ">
                rejection_reason=#{rejectionReason},
            </if>
            <if test="cancelTime != null">
                cancel_time=#{cancelTime},
            </if>
            <if test="payStatus != null">
                pay_status=#{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method=#{payMethod},
            </if>
            <if test="checkoutTime != null">
                checkout_time=#{checkoutTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deliveryTime != null">
                delivery_time = #{deliveryTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="Orders">
        select * from orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="countStatus" resultType="Integer">
        select count(id) from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectDailyTurnoverList" resultType="com.sky.dto.DailyTurnoverDTO">
        SELECT
            DATE(order_time) AS orderDate,
            COALESCE(SUM(amount), 0) AS sum
        FROM orders
        WHERE
            order_time BETWEEN #{begin} AND #{end}
          AND status = #{status}
        GROUP BY DATE(order_time)
    </select>

    <select id="getDailyStats" resultType="com.sky.dto.DailyStatsDTO">
        SELECT DATE(order_time)                             AS date,
               COUNT(id)                                    AS orderCount,
               SUM(IF(status = 5 AND pay_status = 1, 1, 0)) AS validCount
        FROM orders
        WHERE order_time BETWEEN #{begin} AND #{end}
        GROUP BY DATE(order_time)
    </select>

    <select id="getTotalStats" resultType="com.sky.dto.TotalStatsDTO">
        SELECT COUNT(id)                                    AS total,
               SUM(IF(status = 5 AND pay_status = 1, 1, 0)) AS valid
        FROM orders
        WHERE order_time BETWEEN #{begin} AND #{end}
    </select>

    <select id="getSalesTop10" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT
            d.name AS name,
            SUM(d.number) AS number
        FROM order_detail d
                 INNER JOIN orders o ON d.order_id = o.id
        WHERE o.order_time BETWEEN #{begin} AND #{end}
          AND o.status = 5
        GROUP BY d.name
        ORDER BY number DESC
        LIMIT 0,10
    </select>

</mapper>